<nav class="pcoded-navbar" xmlns:th="https://www.thymeleaf.org" th:fragment="sidebar">
    <div class="pcoded-inner-navbar main-menu">
        <ul class="pcoded-item pcoded-left-item">
<!--            <li class="">-->
<!--                <a href="javascript:void(0)">-->
<!--                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>-->
<!--                    <span class="pcoded-mtext">Dashboard</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="">-->
<!--                <a th:href="@{/category}">-->
<!--                    <span class="pcoded-micon"><i class="feather icon-layers"></i></span>-->
<!--                    <span class="pcoded-mtext">Danh mục</span>-->
<!--                </a>-->
<!--            </li>-->
            <li class="">
                <a th:href="@{/salary}">
                    <span class="pcoded-micon"><i class="feather icon-activity"></i></span>
                    <span class="pcoded-mtext">Bảng lương</span>
                </a>
            </li>
            <li class="">
                <a th:href="@{/users}">
                    <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                    <span class="pcoded-mtext">Tài khoản</span>
                </a>
            </li>
            <li class="">
                <a th:href="@{/roles}">
                    <span class="pcoded-micon"><i class="feather icon-shield"></i></span>
                    <span class="pcoded-mtext">Quyền</span>
                </a>
            </li>
            <li class="">
                <a th:href="@{/users/deleted}">
                    <span class="pcoded-micon"><i class="feather icon-trash"></i></span>
                    <span class="pcoded-mtext">Thùng rác</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
